
<div class ="jumbotron">

  <h1>Welcome to my application</h1>
  <p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary"%></p>

  <%= image_tag "test/allah1.jpg" %>

</div>

<h1> Looking for APA Format? <h1>
	<h4><p>Individual Subscription</p></h4>