
<div class ="jumbotron center">

  <h1>Welcome to my application</h1>
  

<% if user_signed_in? %>
    # Welcome to our page
<% else %>
  <p>
     <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
     <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
<% end %>
  <%= image_tag "test/allah1.jpg" %>

</div>

<h1> Looking for APA Format? <h1>
	<h4><p>Individual Subscription</p></h4>